{%extends 'website/index.html'%}
{%load static%}
{% block content%}
<section id="info-text">
    <h2>Extract Your Keywords and additional features</h2>
    <div class="container">
        <div class="row mt-2 mb-2 align-items-center">
            <div class="col-lg ">
                <p>
                    <b>
                    Keyword extraction is the automated process of extracting the most
                    relevant words and expressions from text. But how can you use it to
                    leverage existing business data? Read this guide from start to finish,
                    bookmark it for later, or jump to the topics that grab your attention:
                    </b>
                </p>
            </div>
            <div class="col-lg ">
                <p>
                    <b>
                    Keyword extraction uses machine learning artificial intelligence (AI)
                    with natural language processing (NLP) to break down human language so
                    that it can be understood and analyzed by machines. It’s used to find
                    keywords from all manner of text: regular documents and business
                    reports, social media comments, online forums and reviews, news reports,
                    and more.
                    <b>
                </p>
            </div>
        </div>
        <div class="view">
            <button id="viewmore">View More</button>
        </div>
        <div class="show-hide" id="showhide">
        <div class="row">
            <div class="col-lg ">
                <p>
                    <b>
                        The realm of keyword extraction is complex and one can 
                        easily be overcome with confusing terminology. ‘Key phrases’, 
                        ‘key terms’, ‘key segments’ and ‘keywords’ for instance are the 
                        terminology used for defining the most relevant information contained 
                        in a document. Although the terminology is different, the function is the
                        same: characterization of the topic discussed in a document.
                    </b>
                </p>
            </div>
            <div class="col-lg ">
                <p>
                    <b>
                        Keyword extraction methods can be roughly divided into:<br>
                        <br>
                        1. Keyword assignment<br>
                        Choosing keywords from a list of controlled vocabulary or taxonomy.<br>
                        <br>
                        
                        2. Keyword extraction<br>
                        Keywords are chosen from words that are explicitly mentioned in an original text.
                        <br>
                    <b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg ">
                <p>
                    <b>
                    Keyword extraction is the automated process of extracting the most
                    relevant words and expressions from text. But how can you use it to
                    leverage existing business data? Read this guide from start to finish,
                    bookmark it for later, or jump to the topics that grab your attention:
                    </b>
                </p>
            </div>
            <div class="col-lg ">
                <p>
                    <b>
                    Keyword extraction uses machine learning artificial intelligence (AI)
                    with natural language processing (NLP) to break down human language so
                    that it can be understood and analyzed by machines. It’s used to find
                    keywords from all manner of text: regular documents and business
                    reports, social media comments, online forums and reviews, news reports,
                    and more.
                    <b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg ">
                <p>
                    <b>
                    Keyword extraction is the automated process of extracting the most
                    relevant words and expressions from text. But how can you use it to
                    leverage existing business data? Read this guide from start to finish,
                    bookmark it for later, or jump to the topics that grab your attention:
                    </b>
                </p>
            </div>
            <div class="col-lg ">
                <p>
                    <b>
                    Keyword extraction uses machine learning artificial intelligence (AI)
                    with natural language processing (NLP) to break down human language so
                    that it can be understood and analyzed by machines. It’s used to find
                    keywords from all manner of text: regular documents and business
                    reports, social media comments, online forums and reviews, news reports,
                    and more.
                    <b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg ">
                <p>
                    <b>
                    Keyword extraction is the automated process of extracting the most
                    relevant words and expressions from text. But how can you use it to
                    leverage existing business data? Read this guide from start to finish,
                    bookmark it for later, or jump to the topics that grab your attention:
                    </b>
                </p>
            </div>
            <div class="col-lg">
                <p>
                    <b>
                    Keyword extraction uses machine learning artificial intelligence (AI)
                    with natural language processing (NLP) to break down human language so
                    that it can be understood and analyzed by machines. It’s used to find
                    keywords from all manner of text: regular documents and business
                    reports, social media comments, online forums and reviews, news reports,
                    and more.
                    <b>
                </p>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- About Tool -->
<section id="about-tool">
    <div class="container text-center">
        <h2>About our tool</h2>
        <div class="row text-lg-center">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Keyword Extraction</h5>
                        <p class="card-text">This tool allows you to get abstract topics from a document, article or any source of text. </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Graphical Visualisation</h5>
                        <p class="card-text">This tool helps in generation of quick graphs showing different statistics like stopwords, keywords per document etc.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">In-Depth Analysis</h5>
                        <p class="card-text">This tool is highly efficient and developed using modern AI. Giving you a trustworthy source to finish projects quickly.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Word Cloud Generation</h5>
                        <p class="card-text">This tool also generates a word cloud containing all the different keywords within the text given by you making it a beautiful collage.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{%endblock content%}
{%block scripts%}
<script src="{%static 'js/home.js'%}"></script>
{%endblock scripts%}