#topicmodel,
#generated-graph{
    display: none;
    width:100%;
    height:60vh;
    margin:50px;
}

#algorithm{
    font-family:"Courier New" , sans-serif;
    display:none;
}

#topic-model-content{
    display: flex;
    justify-content: center;
    align-items:center;
}

#urlinput,
#fileinput{
    display: none;
}

#formFile{
    width:400px;
}
#fileinput{
    /* text-align:center; */
    align-items:center;
    justify-content:center;

}
