<!-- <div class="row" id="analysiscontent">
                <img src="{%static 'images/word-cloud.jpg'%}" alt="analysis" id="word-cloud-img" />
            </div>
            <div id="analysis">
                <img src="{%static 'images/graph1.png'%}" class="graph" alt="">
                <img src="{%static 'images/graph2.png'%}" class="graph" alt="">
            </div>
            <div class="algorithm-content" id="algo">
                <h5>Input Parameters</h5>
                <p>
                    The input parameters for the RAKE Algorithm comprise a list of
                    stop words also a set of phrase delimiters and word delimiters. It
                    uses stop words and phrase delimiters to partition the document
                    into candidate keywords; these candidate keywords are mainly the
                    words that help a developer in extracting the exact keyword
                    necessary to get information from the document.
                </p>
                <h5>Candidate Keywords</h5>
                <p>
                    As from above, we know that RAKE classifies the main content
                    bearing word as Candidate Keyword by parsing the document with the
                    help of stop words and phrase delimiters. This is done basically
                    by some of the following steps, firstly, the document text is
                    split into an array of words by the specific word delimiters, and
                    secondly, the array is again split into a sequence of contiguous
                    words at phrase delimiters and stop word positions. Finally, the
                    words that lie in the same sequence are assigned the same position
                    in the text and together are considered as a candidate key.
                </p>
                <h5>Keyword Scores</h5>
                <p>
                    After identifying all the candidate keywords from the text data, a
                    graph of word co-occurrence is generated, which calculates the
                    score for each candidate keyword and is defined as the member word
                    score. With the help of this graph, we evaluate several metrics
                    for calculating word scores based on the degree and frequency of
                    the vertices in the graph.
                </p>
                <h5>Word Priorities</h5>
                <p>
                    The major metrics are as follow:
                <ul>
                    <li>Word Frequency (freq(w))</li>
                    <li>Word Degree (deg(w))</li>
                    <li>Ratio of degree to frequency (deg(w)/freq(w))</li>
                </ul>
                <p>
                    (Deg (w)) favors words that occur often and in longer candidates.<br>
                    (Freq (w)) favors words that occur frequently regardless of the number of words with which they
                    co-occurred.<br>
                    (Deg (w)/ Freq (w) favors the words that predominately occur in longer candidate keywords.<br>
                    <br>
                    <br>
                    The final score for each candidate keyword is calculated as the sum of its member word scores.
                </p>

                </p>
                <h5>Adjoining Keywords</h5>
                <p>
                    As we know that Rake splits candidate keywords by stop words, so the extracted keywords do
                    not contain interior stop words; therefore, interest was expressed
                    in identifying keywords that contain interior stop words as the axis of evil.
                    To find keywords that adjoin one another at least twice in the same document and
                    in the same order. For this purpose, a new candidate keyword is created as a combination
                    of those keywords and the interior stop words. In this part, we should understand that
                    very few linked words are only extracted, which adds significance.
                </p>
                <h5>Final Extracted Keywords</h5>
                <p>
                    After the candidate keyword score is calculated, the top T candidate keywords are selected
                    from the document. The T value is one-third the number of words in the graph.
                </p>
            </div> -->


                    <!-- <input class="form-control" type="text" placeholder="Enter URL" name="url-input"> -->
                    <!-- <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file-input" placeholder="Attach File"> -->