{%extends 'main/index.html'%}
{%load static%}
{% block content%}
<section id="info-text">
    <h2>Topic Modelling , Keyword Extraction and Graphical Visualization</h2>
    <div class="container">
        <div class="row">
            <p>
                <b>
                    Topic modelling is a popular technique in natural language processing 
                    (NLP) that involves identifying the underlying topics or themes 
                    present in a corpus of text. One of the commonly used algorithms 
                    for topic modelling is the Rapid Automatic Keyword Extraction (RAKE) 
                    algorithm. RAKE is a statistical method that identifies relevant 
                    keywords in text by analyzing the frequency and co-occurrence
                    patterns of words.
                    <br>
                </b>
            </p>
        </div>
        <div class="row">
            <p>
                <b>
                    The RAKE algorithm is implemented in R programming language and 
                    can be used for topic modelling in the following steps:
                </b>
            </p>
        </div>
        <div class="view">
            <button id="viewmore">View More</button>
        </div>
        <div class="show-hide" id="showhide">
            <div class="row">
                <p>
                    <b>
                        1. Data preprocessing: The first step in topic modelling using the RAKE algorithm is to preprocess the text data. This includes removing stop words, stemming, and converting the text to lowercase.
                        <br>
                        <br>
                        2. Tokenization: Next, the text data is tokenized into individual words, and their frequency is calculated.
                        <br>
                        <br>
                        3. Candidate keyword extraction: In this step, candidate keywords are identified by splitting the text into phrases based on punctuation marks and identifying phrases with high word frequency and density.
                        <br>
                        <br>
                        4. Keyword score calculation: A score is assigned to each candidate keyword based on the frequency and co-occurrence of words in the phrase. The score is calculated by dividing the number of word occurrences in the phrase by the total number of words in the phrase.
                        <br>
                        <br>
                        5. Topic extraction: The final step in topic modelling using RAKE is to extract the top-ranked keywords from the corpus. These keywords are then used to identify the underlying topics or themes in the corpus.
                        <br>
                        <br>
                    </b>
                </p>
            </div>
            <div class="row">
                <p>
                    <b>
                        The RAKE algorithm is known for its simplicity and effectiveness in extracting relevant keywords from text data. However, it has some limitations, such as its inability to capture semantic relationships between words and its dependence on punctuation marks for identifying phrases. Nonetheless, it remains a useful tool for topic modelling and keyword extraction in NLP.
                    </b>
                </p>
            </div>
            <div class="row">
                <p>
                    <b>
                    Keyword extraction uses machine learning artificial intelligence (AI)
                    with natural language processing (NLP) to break down human language so
                    that it can be understood and analyzed by machines. It’s used to find
                    keywords from all manner of text: regular documents and business
                    reports, social media comments, online forums and reviews, news reports,
                    and more.
                    <b>
                </p>
            </div>
            <div class="row">
                <p>
                    <b>
                        In conclusion, RAKE algorithm is a useful tool for topic modelling that works by extracting relevant keywords from text data. It is implemented in R programming language and involves several steps, including data preprocessing, tokenization, candidate keyword extraction, keyword score calculation, and topic extraction. While it has some limitations, it is a useful technique for identifying the underlying themes and topics in a corpus of text.
                    <b>
                </p>
            </div>
    </div>
    </div>
</section>
<!-- About Tool -->
<section id="about-tool">
    <div class="container text-center">
        <h2>About our tool</h2>
        <div class="row text-lg-center">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Keyword Extraction</h5>
                        <p class="card-text">This tool allows you to get abstract topics from a document, article or any source of text. </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Graphical Visualisation</h5>
                        <p class="card-text">This tool helps in generation of quick graphs showing different statistics like stopwords, keywords per document etc.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">In-Depth Analysis</h5>
                        <p class="card-text">This tool is highly efficient and developed using modern AI. Giving you a trustworthy source to finish projects quickly.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Word Cloud Generation</h5>
                        <p class="card-text">This tool also generates a word cloud containing all the different keywords within the text given by you making it a beautiful collage.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{%endblock content%}
{%block scripts%}
<script src="{%static 'js/home.js'%}"></script>
{%endblock scripts%}