{%extends 'main/index.html'%}
{%load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/tool.css' %}" />
{% endblock css %}
{% block content%}


<section id="tool">
    <h2>Use the Tool Below</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg text-center">
                <h4 id="inputheading">Input Text here</h4>
                <form method="POST" action="">
                    {%csrf_token%}
                    <div id="changing-content">
                        <div class="form-group" id="textinput">
                            <input class="form-control form-control-sm" type="text" name="text_title"
                                value="{{ text_title }}" placeholder="Enter Title" id="text_title" />
                            <textarea id="text_data" class="form-control" placeholder="Enter text" name="text_data"
                                value="{{ text_data }}" rows="7"></textarea>
                        </div>
                        <!-- <div class="form-group" id="docinput">
                            <input class="form-control form-control-sm" type="text" name="doc_title"
                                value="{{ doc_title }}" placeholder="Enter Title" id="text_title" />
                            <div class="mb-3">
                                <input class="form-control" type="file" name="doc" value="{{ doc }}" id="formFile">
                            </div>
                        </div> -->
                        <div class="form-group" id="urlinput">
                            <input class="form-control form-control-sm" type="text" name="url_title"
                                value="{{ url_title }}" placeholder="Enter Title" id="text_title" />
                            <input class="form-control form-control-sm" type="text" name="url" value="{{ url }}"
                                placeholder="Enter URL" id="text_title" />
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <button type="submit" class="btn" id="extractbtn">
                                    EXTRACT
                                </button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn" id="textbtn">USE TEXT</button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn" id="urlbtn">USE URL</button>
                            </div>
                            <!-- <div class="col-sm">
                                <button type="button" class="btn" id="docbtn">
                                    <span>USE FILE</span>
                                </button>
                            </div> -->
                        </div>
                        <div class="row">
                            {% if messages %} {% for message in messages %}
                            <div class="alert alert-dismissible alert-success">
                                <button type="button" class="close" data-dismiss="alert">
                                    x
                                </button>
                                <strong>{{message}}</strong>
                            </div>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm text-center">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn" id="analysisbtn">
                            <h6 id="btnname1">Generate Complete Analysis</h6>
                        </button>
                        <button type="button" class="btn" id="algobtn">
                            <h6 id="btnname2">View the Algorithm</h6>
                        </button>
                        <button type="button" class="btn" id="wordcloudbtn">
                            <h6 id="btnname3">Generate Topic Model</h6>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <table>
                        <tr>
                            <th>Sr no.</th>
                            <th>Keyword</th>
                        </tr>
                        {%if keywords%}
                        {%for item in keywords%}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{item}}</td>
                        </tr>
                        {%endfor%}
                        {%endif%}
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <h2 id="heading">TOPIC MODEL</h2>
            </div>
            <div class="row justify-content-center align-content-center text-center" id='topic-model-content'>
                <div class="row">
                    <img src="{% get_media_prefix %}images/wordcloud.png" id="topicmodel" alt="MY TOPIC MODEL">
                </div>
                <div class="row">
                    <img src="{% get_media_prefix %}images/graph.png" id="generated-graph" alt="MY Graph">
                </div>
            </div>
        </div>

    </div>
</section>
{%endblock content%}
{%block scripts%}
<script src="{%static 'js/tool.js' %}"></script>

{%endblock scripts%}