

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

@media (min-width:990px){
    #navbar-items1 .nav-link{
        margin: 0px 30px;
        transition: all 0.6s ease;
    }
    #navbar-link{
        font-family: 'Julee', serif;
        font-size: 20px;
        letter-spacing: 1px;    
        color: #16a085;
        transition: all 0.6s ease;
        position: relative;
    }
    #navbar-link::after,
    #navbar-link::before{
        content: '';
        display:block;
        position:absolute;
        width: 20%;
        height: 20%;
        border: 2px solid;
        transition: all 0.6s ease;
        border-radius: 2px;
    }
    #navbar-link::after{
        bottom: 0;
        right: 0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: #566473;
        border-right-color: #566473;
    }
    #navbar-link::before{
        top: 0;
        left: 0;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-top-color: #566473;
        border-left-color: #566473;
    }
    #navbar-link:hover::after,
    #navbar-link:hover::before
    {
        width: 100%;
        height: 100%;
    }
    #navbar-items2 .nav-link{
        transition: all 0.2s ease;
    }
    #navbar-items2   .nav-link:hover{
        animation-name:spin;
        animation-duration: 2s;
    }
    .nav-link i{
        font-size: 20px;
        margin: 0px 10px;
        padding: 15px;
        transition: all 0.5s ease;
        border-radius:100%;
    }
    .nav-link i:hover{
        color: white;
    }
    .bi-instagram:hover{
        background-color: red;
    }
    .bi-github:hover{
        background-color: green;
    }
    .bi-bar-chart-fill:hover{
        background-color: orange;
    }
    .bi-layout-text-sidebar:hover{
        background-color: blue;
    }
}
@keyframes spin {
    0% {
        transform: rotate3d(0,1,0,0deg);
    }
    100% {
        transform: rotate3d(0,1,0,360deg);
    }
}

